In [27]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [28]:
df = pd.read_csv('Bank_Customers.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,10000000,Surname_1,600,France,Male,30,0,0.0,1,0,0,50000.0,0
1,2,10000001,Surname_2,601,Spain,Female,31,1,100.5,2,1,1,50010.5,1
2,3,10000002,Surname_3,602,Germany,Male,32,2,201.0,3,0,0,50021.0,0
3,4,10000003,Surname_4,603,Italy,Female,33,3,301.5,4,1,1,50031.5,1
4,5,10000004,Surname_5,604,France,Male,34,4,402.0,1,0,0,50042.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,10009995,Surname_9996,695,Italy,Female,65,5,1004497.5,4,1,1,154947.5,1
9996,9997,10009996,Surname_9997,696,France,Male,66,6,1004598.0,1,0,0,154958.0,0
9997,9998,10009997,Surname_9998,697,Spain,Female,67,7,1004698.5,2,1,1,154968.5,1
9998,9999,10009998,Surname_9999,698,Germany,Male,68,8,1004799.0,3,0,0,154979.0,0
9999,10000,10009999,Surname_10000,699,Italy,Female,69,9,1004899.5,4,1,1,154989.5,1

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [30]:
X = df.iloc[:,3:13].values

In [31]:
y = df.iloc[:,13].values

In [32]:
#Encodin Categorical Data 
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
label_encoder_x1 = LabelEncoder() 
X[:,1] = label_encoder_x1.fit_transform(X[:,1])
label_encoder_x2 = LabelEncoder()
X[:,2] = label_encoder_x2.fit_transform(X[:,2])

In [33]:
x

array([[600, 0, 1, ..., 0, 0, 50000.0],
       [601, 3, 0, ..., 1, 1, 50010.5],
       [602, 1, 1, ..., 0, 0, 50021.0],
       ...,
       [697, 3, 0, ..., 1, 1, 154968.5],
       [698, 1, 1, ..., 0, 0, 154979.0],
       [699, 2, 0, ..., 1, 1, 154989.5]], dtype=object)

In [34]:
#Splitting the datsset into the training and test set 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X ,y, test_size=0.2, random_state=42)

In [35]:
#Feature Scalling 
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [36]:
#Classical ML 
from sklearn.tree import DecisionTreeClassifier 
clf = DecisionTreeClassifier()
clf.fit(x_train, y_train)
pred = clf.predict(x_test)

In [37]:
#Making The Confussion Matric 
from sklearn.metrics import confusion_matrix 
cm = confusion_matrix(y_test, pred)
cm

array([[1007,    0],
       [   0,  993]])

In [38]:
from sklearn.metrics import accuracy_score 
score = accuracy_score(y_test, pred)
score

1.0

In [39]:
#Random Forest Classifier 
from sklearn.ensemble import RandomForestClassifier 
clf2 = RandomForestClassifier()
clf2.fit(x_train, y_train)
pred2 = clf2.predict(x_test)

In [40]:
from sklearn.metrics import accuracy_score 
score2 = accuracy_score(y_test, pred2)
score2

1.0

ANN Model

In [41]:
#pip install keras
#pip install tensorflow

In [42]:
#import the keras libraries and p__package 
import keras
from keras.models import Sequential
from keras.layers import Dense , Input

In [43]:
#Initialiging the ANN 
classifier = Sequential()

#Units: 
#initializer: how your weight are updated
#relu activation function
#input_dim: imput shape
#adding the input layer and the first hidden layer 
classifier.add(Input(shape =(10,)))
classifier.add(Dense(units=6, kernel_initializer='uniform', activation='relu'))
#Adding the second hidden layer 
classifier.add(Dense(units=6, kernel_initializer='uniform', activation='relu'))
#Adding the third hidden layer 

classifier.add(Dense(units=6, kernel_initializer='uniform', activation='relu'))

#Adding the output Layer 
classifier.add(Dense(units=1, kernel_initializer='uniform', activation='sigmoid'))

In [44]:
len(x_train)

8000

In [45]:
#Compiling the ANN 
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
y_train[0]

np.int64(0)

In [46]:
#Fitting the ANN to the training set 
classifier.fit(x_train, y_train, batch_size = 10, epochs = 20)

Epoch 1/20
800/800 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.9576 - loss: 0.3502
Epoch 2/20
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 1.0000 - loss: 0.1621
Epoch 3/20
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 1.0000 - loss: 0.0996
Epoch 4/20
800/800 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 1.0000 - loss: 0.0644
Epoch 5/20
800/800 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 1.0000 - loss: 0.0431
Epoch 6/20
800/800 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 1.0000 - loss: 0.0295
Epoch 7/20
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 1.0000 - loss: 0.0205
Epoch 8/20
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 1.0000 - loss: 0.0144
Epoch 9/20
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 1.0000 - loss: 0.0102
Epoch 10/20
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 1.0000 - loss: 0.0073
Epoch 11/20
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 1.0000 - loss: 0.0052
Epoch 12/20
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 1.0000 - loss: 0.0037
Epoch 13/20
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 1.0000 - loss: 0.0027
Epoch 14/20
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 1.0000 - loss: 0.0019
Epoch 15/20
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 1.0000 - loss: 0.0014
Epoch 16/20
800/800 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 1.0000 - loss: 9.9842e-04
Epoch 17/20
800/800 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 1.0000 - loss: 7.1922e-04
Epoch 18/20
800/800 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 1.0000 - loss: 5.1815e-04
Epoch 19/20
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 1.0000 - loss: 3.7336e-04
Epoch 20/20
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 1.0000 - loss: 2.6899e-04

In [47]:
#making prediction and evaluate the model 
#Predicting the test set result 
y_predict_ann = classifier.predict(x_test)
y_predict_ann =(y_predict_ann > 0.5)
cm3 = confusion_matrix(y_test, y_predict_ann)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

In [48]:
print(cm3)

[[1007    0]
 [   0  993]]

Parameter optimization

In [49]:
from scikeras.wrappers import KerasClassifier
from sklearn.model_selection import cross_val_score
from keras.models import Sequential
from keras.layers import Dense, Input

In [50]:
def build_classifier():
    classifier = Sequential()
    classifier.add(Input(shape=(10,)))
    classifier.add(Dense(units=6, kernel_initializer='uniform', activation='relu'))
    classifier.add(Dense(units=6, kernel_initializer='uniform', activation='relu'))
    classifier.add(Dense(units=6, kernel_initializer='uniform', activation='relu'))
    classifier.add(Dense(units=1, kernel_initializer='uniform', activation='sigmoid'))
    classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
    return classifier

# Wrap Keras model for scikit-learn
classifier = KerasClassifier(build_fn=build_classifier, batch_size=10, epochs=10)

# K-Fold Cross Validation
accuracies = cross_val_score(estimator=classifier, X=x_train, y=y_train, cv=10, n_jobs=-1)

mean = accuracies.mean()
variance = accuracies.std()

In [51]:
print("Mean Accuracy:", mean)
print("Standard Deviation:", variance)

Mean Accuracy: 0.8975
Standard Deviation: 0.20500304875781727

In [52]:
#Improving the ANN - Hyper parameter optimization